*{
    margin: 0;
    font-family:'Work Sans' ,sans-serif;
}
.text-primary{
    color:#FD6E0A;
    text-align:right ;
    text-decoration: none;


 }
 .btn-primary {
   color: #ffffff;
	font-size: 18px;
	font-weight: 600;
	border: 0;
	padding: 18px 35px;
	height: 64px;
	border-radius: 5px;
	background: #fd6e0a;
 }
	


 /* banner styles */
 .banner {
   display: flex;
   text-align: right;
   background: #b6b2b0;
   background-image: url('../images/banner/banner2.png');
   background-repeat: no-repeat;
   background-position: left;
   background-size: cover;
   padding: 50px 200px;
   margin: 0 200px;
  

  
 }
 .banner-title{
   font-weight: 700;
font-size: 85px;
   
 }
 .banner-sub-title{
   font-weight: 600;
font-size: 45px;
margin-bottom: 26px;
 }
 .banner-description{
   color: #757575;
   font-size: 18px;
   margin-bottom: 30px;
   
 }
 /* main section*/
 main{
       max-width: 1140px;
       margin: 0 auto;
 }
 .section{
   margin-top: 130px;
}
 /* about section style */
 .about{
   
   background-color: #FFFfff;
   background-image: url('../images/person.png');
   background-repeat: no-repeat;
   background-position: left;
   background-size: contain;
   padding: 50px 200px;
   margin: 0 200px;
 }
 .about-title{
    font-size: 20px;
    font-weight: 700;
    
    text-align: right;
 }
 .about-description{
    color: black;
    text-align: right;
 }
 .success{
    color: black;
    text-align: right;
 }
 
 /* My plans */

.plans-containers{
   display: flex;
   gap: 150px;
   
}
.my-plans{
   
   border-radius: 5px;
   padding: 30px;
}
.plans-title {
   font-size: 20px;
	font-weight: 700;
	margin-top: 30px;
	margin-bottom: 20px;
}
	
.section-title{
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}
.plans-description{
   color: #635f5f;
   
}
/* contact style */
.Contact{
    display: flex;
    gap:100px;
    background-color:black;
    padding: 130px 200px;
 }
 .Contact .section-title{
   text-align: left;
   color: #FFFfff;
 
 
 
 }
 .Contact input {
    border: 0;
    margin-bottom: 24px;
    width: 100%;
    padding-left: 18px 30px;
    
 }
 
 .contact-description{
    color: #FFFfff;
    font-size: 18px;
    margin-bottom: 30px;
 }
 .input{
    height: 64px;
   }
    
 