* {
	margin: 0;
	font-family: "Work Sans", sans-serif;
}
.text-primary {
	color: #d57c3c;
	text-align: right;
	text-decoration: none;
}
.btn-primary {
	color: #ffffff;
	font-size: 15px;
	font-weight: 200;
	border: 0;
	padding: 18px 35px;
	height: 65px;
	border-radius: 5px;
	background: #fd6e0a;
}

/* banner styles */
.banner {
	background: #b6b2b0;
	background-image: url("../images/banner/banner2.png");
	background-repeat: no-repeat;
	background-position: left;
	background-size: cover;
	/*padding: 200px 500px;*/
	height: 600px;
  	width: 100%;
	/*margin: 0 200px;*/
}


.banner-title {
	font-weight: 700;
	font-size: 85px;
}
.banner-sub-title {
	font-weight: 600;
	font-size: 45px;
	margin-bottom: 26px;
	align-content: right;
}
.banner-description {
	color: #757575;
	font-size: 18px;
	margin-bottom: 30px;
}
.details {
	width: 500px;
	text-align: right;
	margin-left: 800px;
	padding: 80px 50px;


	/* margin-top: px; */
}
/* main section*/
main {
	max-width: 1140px;
	margin: 0 auto;
}
.section {
	margin-top: 130px;
}
/* about section style */
.intro {
	margin-left: 400px;
}
.key-points {
	/* display: flex; */
}
.about {
	background-color: #ffffff;
	background-image: url("../images/person.png");
	background-repeat: no-repeat;
	background-position: left;
	background-size: contain;
	padding: 100px 100px;
	margin-top: 80px;
}
.about-title {
	font-size: 20px;
	font-weight: 700;
}
.about-description {
	color: black;
	text-align: right;
	text-align: justify;
}
.success {
	color: black;
	text-align: right;
}

/* My plans */

.plans-containers {
	display: flex;
	justify-content: space-around;
}

.section-title {
	font-size: 20px;
	font-weight: 700;
	margin-top: 30px;
	margin-bottom: 20px;
	text-align: center;
	padding: 20px 20px;
}
.plans-description {
	color: #635f5f;
}

/* watch- component  */

.watch {
	
	background-image: url('../images/gradient2.png'), url('../images/watch.png');
  	background-repeat: no-repeat;
  	padding: 15px;
}

.watch-details {
	width: 500px;
	margin: 10px 20px;
}
.watch-sub-title {
	
	font-size: 35px;
	margin:40px 5px;
}

/* contact style */
.Contact {
    height: 600px;
  	width: 100%;
	border: 0;
	margin-bottom: 24px;
	padding-left: 18px 30px;
	background-color: transparent;
	background-color: black;
	justify-content: space-around;
	column-gap:10px;
	
}
	

.Contact .section-title {
	text-align: left;
	color: #ffffff;
	font-style: oblique;
	
}


.contact-description {
	color: #ffffff;
	font-size: 18px;
	margin-bottom: 30px;
	font-style: italic;
}
.input {
	height: 30px;
}